<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<template id="template">
    <div>
        <h1>{{i18n "TEST_COMPONENT"}}</h1>
        <ul>
            {{#each items}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</template>
<script class="attach">
    console.log("attach()");
</script>
<script class="update">
    console.log("update()");
</script>
<script class="detach">
    console.log("detach()");
</script>
</body>
</html>
