<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<template id="template">
    <ul class="dropdown-content blue-grey white-text">
        <li class="divider"></li>
        <li><a lang="en" href="javascript:false;" class="white-text">English / English</a></li>
        <li><a lang="de" href="javascript:false;" class="white-text">German / Deutsch</a></li>
    </ul>
</template>
<script class="attach">
    $('.dropdown-button').filter('[data-activates="language-menu"]').dropdown();
    $(node).on('click', function(e) {
    	var lang = $(e.target).attr('lang');
    	if ( lang ) this.select(lang);
    }.bind(this));
</script>
</body>
</html>