<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component.js - Test file.</title>
    <link rel="shortcut icon" type="image/png" href="../../bower_components/jasmine-core/images/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="../../bower_components/jasmine-core/lib/jasmine-core/jasmine.css">

    <script type="text/javascript" src="../../bower_components/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script type="text/javascript" src="../../bower_components/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script type="text/javascript" src="../../bower_components/jasmine-core/lib/jasmine-core/boot.js"></script>
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../dist/promise.js"></script>
    <script type="text/javascript" src="../../dist/model.js"></script>
    <script type="text/javascript" src="../../bower_components/virtual-dom/dist/virtual-dom.js"></script>
    <script type="text/javascript" src="../../node_modules/superagent/superagent.js"></script>
    <script type="text/javascript" src="../../dist/dependencies/underscore.js"></script>
    <script type="text/javascript" src="../../dist/dependencies/handlebars.js"></script>
    <script type="text/javascript" src="../../dist/dependencies/html2hscript.js"></script>
    <script type="text/javascript" src="../../dist/translation.js"></script>
</head>
<body>

<nav id="test"></nav>
<script type="text/javascript">
    window.Promise = cargo.Promise;
    window.Model = cargo.Model;
    window.Translation = cargo.Translation;
</script>
<script type="text/javascript" src="Component.js"></script>
<script type="text/javascript">

    function createTranslation() {
        var trans = new Translation();
        trans.setNamespace('test');
        return trans;
    }

    var translation = createTranslation();
    translation.setNamespace('test');
    translation.select('en');

    var actions = {
        initialState: function () {
            return {items: []}
        },
        addItem: function (item) {
            var state = this.state();
            state.items = state.items || [];
            state.items.push(item);
            return state;
        },
        removeItem: function (item) {
            var state = this.state();
            state = state || {};
            var items = state.items || [];
            var newItems = [];
            for (var idx = 0; idx < items.length; idx++) {
                if (item != items[idx]) {
                    newItems.push(items[idx]);
                }
            }
            state.items = newItems;
            return state;
        },
        clearItems: function () {
            var state = this.state();
            state.items = [];
            return state;
        },
        deadState: function () {
            return new Error("Model already entered dead state.");
        }
    };

    describe("Constructor", function () {
        it("returning an instance with getModel() as method.", function () {
            var comp = new Component("templates/TestComponent.html");
            expect(comp).toBeDefined();
            expect(comp instanceof Component).toBeTruthy();
            expect(comp.getModel).toBeDefined();
            expect(typeof comp.getModel).toEqual('function');
        });
    });

    describe("Component visibility", function () {
        it("sets 'visible' stream property to false when hide() is called.", function (done) {
            var comp = new Component("templates/TestComponent.html");
            comp.hide().then(function(state) {
                expect(state.get('visible')).not.toBeTruthy();
                done();
            }).catch(function(e) {
                fail(e);
                done();
            });
        });

        it("sets 'visible' stream property to true when show() is called.", function (done) {
            var comp = new Component("templates/TestComponent.html");
            comp.show().then(function (state) {
                expect(state.get('visible')).toBeTruthy();
                done();
            });
        });
    });

    xdescribe("Adding a translation", function() {

        it("adds a translation stream property.", function(done) {
            var comp = new Component("templates/TestComponent.html", { translation: translation });
            var p = translation.select('en');
            p.then(function() {
                comp.show().then(function(state) {
                    expect(state).toBeDefined();
                    expect(state.has('lang')).toBeTruthy();
                    expect(state.get('lang')).toEqual('en');
                    done();
                });

            }).catch(function(e) {
                fail(e);
                done();
            });
        });
    });

    describe("Attaching", function() {

        it("renders the component to the target node.", function(done) {
            var comp = new Component("templates/TestComponent.html");
            comp.attach('#test').then(function(state) {
                expect(state.get('visible')).toBeTruthy();
                var html = $('#test').html().trim();
                expect(html).toEqual('<h1>TEST_COMPONENT</h1>');
                comp.detach();
                done();
            });
        });

        it("with english translation renders the component with the english heading.", function(done) {
            var comp = new Component("templates/TestComponent.html", { translation: translation });
            comp.attach('#test').then(function(state) {
                expect(state.get('visible')).toBeTruthy();
                var html = $('#test').html().trim();
                expect(html).toEqual('<h1>Test Component</h1>');
                comp.detach();
                done();
            });
        });

        it("with german translation renders the component with the german heading.", function(done) {
            var trans = createTranslation();
            var comp = new Component("templates/TestComponent.html", { translation: trans });
            trans.select('de').then(function(state) {
                comp.attach('#test').then(function(state) {
                    expect(state.get('visible')).toBeTruthy();
                    var html = $('#test').html().trim();
                    expect(html).toEqual('<h1>Test Komponente</h1>');
                    comp.detach();
                    done();
                }).catch(function(e) {
                    fail(e);
                    done();
                });
            }).catch(function(e) {
                fail(e);
                done();
            });
        });

    });


</script>


</body>
</html>
